<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lettuce</key>
	<dict>
		<key>displayName</key>
		<string>Lettuce</string>
		<key>price</key>
		<real>1</real>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>255</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Bacon</key>
	<dict>
		<key>displayName</key>
		<string>Bacon</string>
		<key>price</key>
		<real>1</real>
		<key>color</key>
		<array>
			<integer>140</integer>
			<integer>23</integer>
			<integer>51</integer>
		</array>
	</dict>
	<key>BBQ Sauce</key>
	<dict>
		<key>displayName</key>
		<string>BBQ Sauce</string>
		<key>price</key>
		<real>1</real>
		<key>color</key>
		<array>
			<integer>255</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Top Bun</key>
	<dict>
		<key>displayName</key>
		<string>Top Bun</string>
		<key>price</key>
		<real>1</real>
		<key>color</key>
		<array>
			<integer>214</integer>
			<integer>194</integer>
			<integer>14</integer>
		</array>
	</dict>
	<key>Bottom Bun</key>
	<dict>
		<key>displayName</key>
		<string>Bottom Bun</string>
		<key>price</key>
		<real>1</real>
		<key>color</key>
		<array>
			<integer>175</integer>
			<integer>145</integer>
			<integer>10</integer>
		</array>
	</dict>
</dict>
</plist>
